/* screen - brianrc */

.brianrc {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 640px;
  overflow: hidden;
  width: 360px;
}

.brianrc .overlap-group6 {
  height: 352px;
  margin-left: -1px;
  position: relative;
  width: 362px;
}

.brianrc .rectangle-61 {
  background-color: var(--alabaster);
  height: 160px;
  left: 0;
  position: absolute;
  top: 192px;
  width: 362px;
}

.brianrc .rectangle-30 {
  background-color: var(--alabaster);
  height: 133px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 362px;
}

.brianrc .rectangle-21 {
  background-color: var(--viking);
  height: 62px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 360px;
}

.brianrc .arrow_back_black_24dp-1 {
  cursor: pointer;
  height: 24px;
  left: 1px;
  position: absolute;
  top: 19px;
  width: 46px;
}

.brianrc .hip-dog {
  -webkit-text-stroke: 1px var(--viking);
  left: 137px;
  letter-spacing: 0;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 16px;
  width: 86px;
}

.brianrc .ellipse-21 {
  height: 100px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 72px;
  width: 100px;
}

.brianrc .ellipse-22 {
  height: 100px;
  left: 225px;
  object-fit: cover;
  position: absolute;
  top: 72px;
  width: 100px;
}

.brianrc .pets_black_24dp-2 {
  height: 36px;
  left: 164px;
  position: absolute;
  top: 104px;
  width: 36px;
}

.brianrc .pets_black_24dp-3 {
  height: 25px;
  left: 21px;
  position: absolute;
  top: 249px;
  width: 25px;
}

.brianrc .pets_black_24dp-4 {
  height: 25px;
  left: 49px;
  position: absolute;
  top: 249px;
  width: 25px;
}

.brianrc .pets_black_24dp-15 {
  height: 25px;
  left: 75px;
  position: absolute;
  top: 249px;
  width: 25px;
}

.brianrc .pets_black_24dp-16 {
  height: 25px;
  left: 101px;
  position: absolute;
  top: 249px;
  width: 25px;
}

.brianrc .pets_black_24dp-17 {
  height: 25px;
  left: 127px;
  position: absolute;
  top: 249px;
  width: 25px;
}

.brianrc .brain {
  left: 70px;
  letter-spacing: 0;
  position: absolute;
  top: 171px;
  width: 51px;
}

.brianrc .brownie {
  left: 248px;
  letter-spacing: 0;
  position: absolute;
  top: 171px;
  width: 62px;
}

.brianrc .text-22 {
  left: 68px;
  letter-spacing: 0;
  position: absolute;
  top: 212px;
  width: 46px;
}

.brianrc .number {
  left: 54px;
  letter-spacing: 0;
  position: absolute;
  top: 295px;
  width: 20px;
}

.brianrc .number-1 {
  left: 185px;
  letter-spacing: 0;
  position: absolute;
  top: 214px;
  width: 10px;
}

.brianrc .number-2 {
  left: 330px;
  letter-spacing: 0;
  position: absolute;
  top: 214px;
  width: 27px;
}

.brianrc .icon-caution {
  height: 40px;
  left: 9px;
  position: absolute;
  top: 289px;
  width: 40px;
}

.brianrc .rectangle-67 {
  background-color: var(--mist-gray);
  border-radius: 20px;
  cursor: pointer;
  height: 32px;
  left: 81px;
  position: absolute;
  top: 292px;
  width: 91px;
}

.brianrc .report {
  left: 95px;
  letter-spacing: 0;
  position: absolute;
  top: 297px;
  width: 76px;
}

.brianrc .rectangle-68 {
  background-color: var(--ebb);
  border-radius: 25px;
  height: 7px;
  left: 200px;
  position: absolute;
  top: 220px;
  width: 125px;
}

.brianrc .number-3 {
  left: 185px;
  letter-spacing: 0;
  position: absolute;
  top: 235px;
  width: 10px;
}

.brianrc .number-4 {
  left: 331px;
  letter-spacing: 0;
  position: absolute;
  top: 235px;
  width: 27px;
}

.brianrc .rectangle-70 {
  background-color: var(--ebb);
  border-radius: 25px;
  height: 7px;
  left: 201px;
  position: absolute;
  top: 241px;
  width: 125px;
}

.brianrc .number-5 {
  left: 186px;
  letter-spacing: 0;
  position: absolute;
  top: 256px;
  width: 10px;
}

.brianrc .number-6 {
  left: 331px;
  letter-spacing: 0;
  position: absolute;
  top: 256px;
  width: 27px;
}

.brianrc .rectangle-72 {
  background-color: var(--ebb);
  border-radius: 25px;
  height: 7px;
  left: 201px;
  position: absolute;
  top: 262px;
  width: 125px;
}

.brianrc .number-7 {
  left: 186px;
  letter-spacing: 0;
  position: absolute;
  top: 277px;
  width: 10px;
}

.brianrc .number-8 {
  left: 331px;
  letter-spacing: 0;
  position: absolute;
  top: 277px;
  width: 27px;
}

.brianrc .rectangle-74 {
  background-color: var(--ebb);
  border-radius: 25px;
  height: 7px;
  left: 201px;
  position: absolute;
  top: 283px;
  width: 125px;
}

.brianrc .number-9 {
  left: 186px;
  letter-spacing: 0;
  position: absolute;
  top: 298px;
  width: 10px;
}

.brianrc .number-10 {
  left: 331px;
  letter-spacing: 0;
  position: absolute;
  top: 298px;
  width: 27px;
}

.brianrc .rectangle-76 {
  background-color: var(--ebb);
  border-radius: 25px;
  height: 7px;
  left: 201px;
  position: absolute;
  top: 304px;
  width: 125px;
}

.brianrc .report-status {
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  top: 328px;
  width: 108px;
}

.brianrc .rectangle-69 {
  background-color: var(--yellow-sunshine-2);
  border-radius: 25px;
  height: 7px;
  left: 201px;
  position: absolute;
  top: 304px;
  width: 96px;
}

.brianrc .rectangle-71 {
  background-color: var(--yellow-sunshine-2);
  border-radius: 25px;
  height: 7px;
  left: 201px;
  position: absolute;
  top: 283px;
  width: 10px;
}

.brianrc .overlap-group8 {
  height: 25px;
  margin-left: 3px;
  margin-top: 8px;
  position: relative;
  width: 90px;
}

.brianrc .rectangle-30-1 {
  background-color: var(--turbo);
  border-radius: 20px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 90px;
}

.brianrc .comments {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 5px;
}

.brianrc .overlap-group7 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--alabaster);
  border-radius: 20px;
  display: flex;
  height: 202px;
  justify-content: flex-end;
  margin-left: 1.0px;
  margin-top: 7px;
  min-width: 335px;
  padding: 2px 9px;
}

.brianrc .ellipse-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  min-height: 113px;
  width: 33px;
}

.brianrc .ellipse-21-1 {
  height: 33px;
  object-fit: cover;
  width: 33px;
}

.brianrc .ellipse-23 {
  height: 33px;
  margin-top: 47px;
  object-fit: cover;
  width: 33px;
}

.brianrc .flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  min-height: 187px;
  width: 251px;
}

.brianrc .pets_black_24dp-5 {
  height: 18px;
  margin-left: 6px;
  width: 18px;
}

.brianrc .overlap-group11 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 20px;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  margin-top: 8px;
  width: 110px;
  padding: 2px 12px;
}

.brianrc .this-person-smokes-too-much {
  letter-spacing: 0;
  min-height: 23px;
  width: 214px;
  line-height: 9px;
}

.brianrc .pets_black_24dp-10 {
  height: 19px;
  margin-left: 6px;
  margin-top: 22px;
  width: 18px;
}

.brianrc .flex-row {
  align-items: flex-end;
  display: flex;
  margin-top: 8px;
  min-width: 251px;
}

.brianrc .overlap-group10 {
  height: 80px;
  position: relative;
  width: 204px;
}

.brianrc .rectangle-78 {
  background-color: var(--alto);
  border-radius: 20px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 239px;
}

.brianrc .this-person-breaks-a {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 7px;
  line-height: 19px;
  width: 210px;
}

.brianrc .component-15 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 22.5px;
  cursor: pointer;
  display: flex;
  height: 45px;
  margin-bottom: 3px;
  margin-left: 2px;
  min-width: 45px;
  padding: 5px;
}

.brianrc .edit_fill0_wght400_grad0_opsz48-1 {
  height: 33px;
  width: 33px;
}

.brianrc .overlap-group9 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--ebb-2);
  border-radius: 15px;
  display: flex;
  height: 173px;
  margin-bottom: 1.0px;
  margin-left: 4px;
  min-width: 16px;
  padding: 2px 3px;
}

.brianrc .rectangle-80 {
  background-color: var(--mist-gray);
  border-radius: 15px;
  height: 50px;
  width: 10px;
}

.brianrc .component-container {
  height: 44px;
  margin-top: 7px;
  position: relative;
  width: 360px;
}

.brianrc .component-5 {
  align-items: flex-start;
  background-color: var(--viking);
  display: flex;
  height: 39px;
  left: 0;
  min-width: 360px;
  position: absolute;
  top: 0;
}

.brianrc .overlap-group {
  height: 41px;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
  width: 146px;
}

.brianrc .rectangle-37 {
  background-color: var(--viking);
  height: 41px;
  left: 69px;
  position: absolute;
  top: 0;
  width: 77px;
}

.brianrc .rectangle-36 {
  background-color: var(--viking);
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 71px;
}

.brianrc .component-4 {
  align-items: flex-start;
  display: flex;
  height: 44px;
  left: 20px;
  min-width: 323px;
  position: absolute;
  top: 0;
}

.brianrc .overlap-group4 {
  align-self: flex-end;
  height: 39px;
  margin-bottom: 1px;
  position: relative;
  width: 33px;
}

.brianrc .icon-home {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.brianrc .place {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 22px;
}

.brianrc .overlap-group1 {
  height: 41px;
  margin-left: 22px;
  position: relative;
  width: 64px;
}

.brianrc .groups_black_24dp-1 {
  height: 32px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 36px;
}

.brianrc .community {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 25px;
}

.brianrc .overlap-group2 {
  height: 44px;
  margin-left: 4px;
  margin-top: -1px;
  position: relative;
  width: 146px;
}

.brianrc .rectangle-38 {
  background-color: var(--viking);
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.brianrc .x6366325_animal_breed {
  height: 21px;
  left: 3px;
  position: absolute;
  top: 5px;
  width: 32px;
}

.brianrc .x6366340_animal_breed {
  height: 28px;
  left: 37px;
  position: absolute;
  top: 5px;
  width: 33px;
}

.brianrc .rectangle-39 {
  background-color: var(--viking);
  height: 41px;
  left: 72px;
  position: absolute;
  top: 0;
  width: 74px;
}

.brianrc .question_answer_black_24dp-1 {
  height: 24px;
  left: 92px;
  position: absolute;
  top: 7px;
  width: 34px;
}

.brianrc .chat {
  left: 96px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
}

.brianrc .text-21 {
  left: 31px;
  letter-spacing: 0;
  position: absolute;
  top: 10px;
}

.brianrc .place-1 {
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 27px;
}

.brianrc .overlap-group3 {
  align-self: flex-end;
  height: 39px;
  margin-bottom: 1px;
  margin-left: 17px;
  position: relative;
  width: 37px;
}

.brianrc .icon-user {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 37px;
}

.brianrc .profile {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 21px;
}
