/* screen - community-image-post-dogcafe */

.community-image-post-dogcafe {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 640px;
  min-width: 360px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.community-image-post-dogcafe .rectangle-58-C61RwL {
  background-color: var(--mist-gray);
  height: 640px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.community-image-post-dogcafe .rectangle-47-C61RwL {
  background-color: var(--mist-gray);
  height: 640px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.community-image-post-dogcafe .kakao-talk_-photo_2022-04-15-19-02-53-1-C61RwL {
  background-color: transparent;
  height: 640px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 360px;
}

.community-image-post-dogcafe .emoji-2-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 156px;
  left: 19px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 154px;
  width: 159px;
}

.community-image-post-dogcafe .dog-2-C61RwL {
  background-color: transparent;
  height: 158px;
  left: 185px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 153px;
  width: 155px;
}