/* screen - community-photo-dog-cafe-posted */

.community-photo-dog-cafe-posted {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 640px;
  min-width: 360px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.community-photo-dog-cafe-posted .component-63-C61RwL {
  background-color: transparent;
  height: 205px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 60px;
  width: 360px;
}

.community-photo-dog-cafe-posted .rectangle-40-txpxMK {
  background-color: var(--white);
  height: 100.49%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: -0.49%;
  width: 100.56%;
}

.community-photo-dog-cafe-posted .dog-cafe-txpxMK {
  background-color: transparent;
  height: 15.12%;
  left: 2.78%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6.34%;
  width: 27.50%;
}

.community-photo-dog-cafe-posted .rectangle-41-txpxMK {
  background-color: var(--white);
  height: 14.15%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 85.85%;
  width: 100.56%;
}

.community-photo-dog-cafe-posted .create-txpxMK {
  background-color: transparent;
  height: 13.66%;
  left: 41.67%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 86.34%;
  width: 15.00%;
}

.community-photo-dog-cafe-posted .local_cafe_fill0_wght400_grad0_opsz48-1-txpxMK {
  background-color: transparent;
  height: 65.85%;
  left: 26.39%;
  mix-blend-mode: normal;
  position: absolute;
  top: 16.59%;
  width: 46.94%;
}

.community-photo-dog-cafe-posted .component-38-C61RwL {
  background-color: transparent;
  height: 773px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 266px;
  width: 362px;
}

.community-photo-dog-cafe-posted .component-31-JkxWVA {
  background-color: transparent;
  height: 82.41%;
  left: 0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 17.59%;
  width: 99.72%;
}

.community-photo-dog-cafe-posted .component-25-XeO2rN {
  background-color: transparent;
  height: 78.81%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 21.19%;
  width: 99.72%;
}

.community-photo-dog-cafe-posted .component-21-zlS9Nx {
  background-color: transparent;
  height: 99.87%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-114-ToxsXC {
  background-color: var(--white);
  height: 99.55%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0.45%;
  width: 100%;
}

.community-photo-dog-cafe-posted .dog-cafe-ToxsXC {
  background-color: transparent;
  height: 2.28%;
  left: 3.33%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 22.22%;
}

.community-photo-dog-cafe-posted .im-trying-to-neuter-zlS9Nx {
  background-color: transparent;
  height: 4.38%;
  left: 16.11%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 38.47%;
  width: 0px;
}

.community-photo-dog-cafe-posted .my-dog-is-losing-so-zlS9Nx {
  background-color: transparent;
  height: 4.38%;
  left: 12.78%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 22.48%;
  width: 0px;
}

.community-photo-dog-cafe-posted .component-26-XeO2rN {
  background-color: transparent;
  height: 21.35%;
  left: 0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 21.35%;
  width: 99.72%;
}

.community-photo-dog-cafe-posted .rectangle-115-jYvxxg {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-116-jYvxxg {
  background-color: var(--white);
  height: 23.15%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.89%;
  width: 100.56%;
}

.community-photo-dog-cafe-posted .chat_bubble_outline_black_24dp-2-jYvxxg {
  background-color: transparent;
  height: 17.28%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .icon-heart-jYvxxg {
  background-color: transparent;
  height: 17.28%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .component-22-XeO2rN {
  background-color: transparent;
  height: 21.35%;
  left: 0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 99.72%;
}

.community-photo-dog-cafe-posted .rectangle-115-vTBJ7q {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-116-vTBJ7q {
  background-color: var(--white);
  height: 23.15%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.89%;
  width: 100.56%;
}

.community-photo-dog-cafe-posted .chat_bubble_outline_black_24dp-2-vTBJ7q {
  background-color: transparent;
  height: 17.28%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .icon-heart-vTBJ7q {
  background-color: transparent;
  height: 17.28%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .component-27-XeO2rN {
  background-color: transparent;
  height: 21.35%;
  left: 0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 42.70%;
  width: 99.72%;
}

.community-photo-dog-cafe-posted .rectangle-115-qH3SC6 {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-116-qH3SC6 {
  background-color: var(--white);
  height: 23.15%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.89%;
  width: 100.56%;
}

.community-photo-dog-cafe-posted .chat_bubble_outline_black_24dp-2-qH3SC6 {
  background-color: transparent;
  height: 17.28%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .icon-heart-qH3SC6 {
  background-color: transparent;
  height: 17.28%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .baronado-dog-cafe-is-XeO2rN {
  background-color: transparent;
  height: 7.54%;
  left: 11.36%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6.75%;
  width: 81.99%;
}

.community-photo-dog-cafe-posted .component-1-XeO2rN {
  background-color: transparent;
  height: 3.45%;
  left: 1.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 1.57%;
  width: 25.48%;
}

.community-photo-dog-cafe-posted .component-1-svKxtN {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-31-WvA7IL {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-photo-dog-cafe-posted .hospital-WvA7IL {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-photo-dog-cafe-posted .component-8-XeO2rN {
  background-color: transparent;
  height: 3.45%;
  left: 1.66%;
  mix-blend-mode: normal;
  position: absolute;
  top: 21.98%;
  width: 25.48%;
}

.community-photo-dog-cafe-posted .component-1-xqt2ek {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-31-V5DAm3 {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-photo-dog-cafe-posted .hospital-V5DAm3 {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-photo-dog-cafe-posted .component-28-XeO2rN {
  background-color: transparent;
  height: 3.45%;
  left: 1.66%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 25.48%;
}

.community-photo-dog-cafe-posted .component-1-xrBLjO {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-31-YzfKQw {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-photo-dog-cafe-posted .hospital-YzfKQw {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-photo-dog-cafe-posted .is-there-a-dog-cafe-XeO2rN {
  background-color: transparent;
  height: 3.45%;
  left: 13.30%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 28.57%;
  width: 73.96%;
}

.community-photo-dog-cafe-posted .can-i-go-dog-cafe-without-dogs-XeO2rN {
  background-color: transparent;
  height: 3.45%;
  left: 28.53%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 48.51%;
  width: 44.88%;
}

.community-photo-dog-cafe-posted .component-29-XeO2rN {
  background-color: transparent;
  height: 21.35%;
  left: 0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 64.52%;
  width: 99.72%;
}

.community-photo-dog-cafe-posted .rectangle-115-ASIRir {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-116-ASIRir {
  background-color: var(--white);
  height: 23.15%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.89%;
  width: 100.56%;
}

.community-photo-dog-cafe-posted .chat_bubble_outline_black_24dp-2-ASIRir {
  background-color: transparent;
  height: 17.28%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .icon-heart-ASIRir {
  background-color: transparent;
  height: 17.28%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .component-29-xPNI6N {
  background-color: transparent;
  height: 3.45%;
  left: 1.66%;
  mix-blend-mode: normal;
  position: absolute;
  top: 65.31%;
  width: 25.48%;
}

.community-photo-dog-cafe-posted .component-1-6LEzdw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-31-9xyiys {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-photo-dog-cafe-posted .hospital-9xyiys {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-photo-dog-cafe-posted .mings-dog-cafe-is-to-XeO2rN {
  background-color: transparent;
  height: 3.45%;
  left: 14.40%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 72.68%;
  width: 68.14%;
}

.community-photo-dog-cafe-posted .component-31-QRhP7D {
  background-color: transparent;
  height: 82.41%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17.59%;
  width: 99.72%;
}

.community-photo-dog-cafe-posted .component-25-mtYfVk {
  background-color: transparent;
  height: 78.81%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 21.19%;
  width: 99.72%;
}

.community-photo-dog-cafe-posted .component-21-cUN0Nj {
  background-color: transparent;
  height: 99.87%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-114-p2IXMx {
  background-color: var(--white);
  height: 99.55%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0.45%;
  width: 100%;
}

.community-photo-dog-cafe-posted .dog-cafe-p2IXMx {
  background-color: transparent;
  height: 2.28%;
  left: 3.33%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 22.22%;
}

.community-photo-dog-cafe-posted .im-trying-to-neuter-cUN0Nj {
  background-color: transparent;
  height: 4.38%;
  left: 16.11%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 38.47%;
  width: 0px;
}

.community-photo-dog-cafe-posted .my-dog-is-losing-so-cUN0Nj {
  background-color: transparent;
  height: 4.38%;
  left: 12.78%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 22.48%;
  width: 0px;
}

.community-photo-dog-cafe-posted .component-26-mtYfVk {
  background-color: transparent;
  height: 21.35%;
  left: 0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 21.35%;
  width: 99.72%;
}

.community-photo-dog-cafe-posted .rectangle-115-WoNMjP {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-116-WoNMjP {
  background-color: var(--white);
  height: 23.15%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.89%;
  width: 100.56%;
}

.community-photo-dog-cafe-posted .chat_bubble_outline_black_24dp-2-WoNMjP {
  background-color: transparent;
  height: 17.28%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .icon-heart-WoNMjP {
  background-color: transparent;
  height: 17.28%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .component-22-mtYfVk {
  background-color: transparent;
  height: 21.35%;
  left: 0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 99.72%;
}

.community-photo-dog-cafe-posted .rectangle-115-yjQSkD {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-116-yjQSkD {
  background-color: var(--white);
  height: 23.15%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.89%;
  width: 100.56%;
}

.community-photo-dog-cafe-posted .chat_bubble_outline_black_24dp-2-yjQSkD {
  background-color: transparent;
  height: 17.28%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .icon-heart-yjQSkD {
  background-color: transparent;
  height: 17.28%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .component-27-mtYfVk {
  background-color: transparent;
  height: 21.35%;
  left: 0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 42.70%;
  width: 99.72%;
}

.community-photo-dog-cafe-posted .rectangle-115-Clj3oF {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-116-Clj3oF {
  background-color: var(--white);
  height: 23.15%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.89%;
  width: 100.56%;
}

.community-photo-dog-cafe-posted .chat_bubble_outline_black_24dp-2-Clj3oF {
  background-color: transparent;
  height: 17.28%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .icon-heart-Clj3oF {
  background-color: transparent;
  height: 17.28%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .baronado-dog-cafe-is-mtYfVk {
  background-color: transparent;
  height: 7.54%;
  left: 11.36%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6.75%;
  width: 81.99%;
}

.community-photo-dog-cafe-posted .component-1-mtYfVk {
  background-color: transparent;
  height: 3.45%;
  left: 1.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 1.57%;
  width: 25.48%;
}

.community-photo-dog-cafe-posted .component-1-Y9KZEL {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-31-bxXiNu {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-photo-dog-cafe-posted .hospital-bxXiNu {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-photo-dog-cafe-posted .component-8-mtYfVk {
  background-color: transparent;
  height: 3.45%;
  left: 1.66%;
  mix-blend-mode: normal;
  position: absolute;
  top: 21.98%;
  width: 25.48%;
}

.community-photo-dog-cafe-posted .component-1-Rapsxn {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-31-rs6n9g {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-photo-dog-cafe-posted .hospital-rs6n9g {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-photo-dog-cafe-posted .component-28-mtYfVk {
  background-color: transparent;
  height: 3.45%;
  left: 1.66%;
  mix-blend-mode: normal;
  position: absolute;
  top: 43.96%;
  width: 25.48%;
}

.community-photo-dog-cafe-posted .component-1-lKrUB7 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-31-LoqsHG {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-photo-dog-cafe-posted .hospital-LoqsHG {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-photo-dog-cafe-posted .is-there-a-dog-cafe-mtYfVk {
  background-color: transparent;
  height: 3.45%;
  left: 13.30%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 28.57%;
  width: 73.96%;
}

.community-photo-dog-cafe-posted .can-i-go-dog-cafe-without-dogs-mtYfVk {
  background-color: transparent;
  height: 3.45%;
  left: 28.53%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 48.51%;
  width: 44.88%;
}

.community-photo-dog-cafe-posted .component-29-mtYfVk {
  background-color: transparent;
  height: 21.35%;
  left: 0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 64.52%;
  width: 99.72%;
}

.community-photo-dog-cafe-posted .rectangle-115-idQvzp {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-116-idQvzp {
  background-color: var(--white);
  height: 23.15%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.89%;
  width: 100.56%;
}

.community-photo-dog-cafe-posted .chat_bubble_outline_black_24dp-2-idQvzp {
  background-color: transparent;
  height: 17.28%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .icon-heart-idQvzp {
  background-color: transparent;
  height: 17.28%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .component-29-xyniFg {
  background-color: transparent;
  height: 3.45%;
  left: 1.66%;
  mix-blend-mode: normal;
  position: absolute;
  top: 65.31%;
  width: 25.48%;
}

.community-photo-dog-cafe-posted .component-1-nclJjC {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-31-MZx4VH {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-photo-dog-cafe-posted .hospital-MZx4VH {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-photo-dog-cafe-posted .mings-dog-cafe-is-to-mtYfVk {
  background-color: transparent;
  height: 3.45%;
  left: 14.40%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 72.68%;
  width: 68.14%;
}

.community-photo-dog-cafe-posted .component-30-JkxWVA {
  background-color: transparent;
  height: 17.59%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 99.45%;
}

.community-photo-dog-cafe-posted .rectangle-115-srIeau {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-116-srIeau {
  background-color: var(--white);
  height: 23.15%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.89%;
  width: 100.56%;
}

.community-photo-dog-cafe-posted .chat_bubble_outline_black_24dp-2-srIeau {
  background-color: transparent;
  height: 17.28%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .icon-heart-srIeau {
  background-color: transparent;
  height: 17.28%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.87%;
  width: 6.67%;
}

.community-photo-dog-cafe-posted .emoji-1-JkxWVA {
  background-color: transparent;
  height: 10.87%;
  left: 69.06%;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1.55%;
  width: 26.52%;
}

.community-photo-dog-cafe-posted .please-recommend-dog-JkxWVA {
  background-color: transparent;
  height: 6.21%;
  left: 5.25%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4.92%;
  width: 61.05%;
}

.community-photo-dog-cafe-posted .component-1-JkxWVA {
  background-color: transparent;
  height: 2.85%;
  left: 1.66%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0.52%;
  width: 25.41%;
}

.community-photo-dog-cafe-posted .component-1-N33oao {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-31-7fKq6r {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-photo-dog-cafe-posted .hospital-7fKq6r {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-photo-dog-cafe-posted .component-64-C61RwL {
  background-color: transparent;
  height: 62px;
  left: 0px;
  mix-blend-mode: normal;
  position: fixed;
  top: 0px;
  width: 360px;
}

.community-photo-dog-cafe-posted .rectangle-21-SMsxNm {
  background-color: var(--viking);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .arrow_back_black_24dp-1-SMsxNm {
  background-color: transparent;
  cursor: pointer;
  height: 38.71%;
  left: 1.67%;
  mix-blend-mode: normal;
  position: absolute;
  top: 30.65%;
  width: 12.78%;
}

.community-photo-dog-cafe-posted .component-20-C61RwL {
  background-color: transparent;
  bottom: -5px;
  height: 44px;
  left: 0px;
  mix-blend-mode: normal;
  position: fixed;
  width: 360px;
}

.community-photo-dog-cafe-posted .component-5-uWnxTg {
  background-color: transparent;
  height: 88.64%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-35-NxZUiA {
  background-color: var(--viking);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-photo-dog-cafe-posted .rectangle-37-NxZUiA {
  background-color: var(--viking);
  height: 105.13%;
  left: 18.89%;
  mix-blend-mode: normal;
  position: absolute;
  top: -2.56%;
  width: 21.39%;
}

.community-photo-dog-cafe-posted .rectangle-36-NxZUiA {
  background-color: var(--viking);
  height: 105.13%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: -2.56%;
  width: 19.72%;
}

.community-photo-dog-cafe-posted .component-4-uWnxTg {
  background-color: transparent;
  height: 100%;
  left: 5.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 89.72%;
}

.community-photo-dog-cafe-posted .icon-home-ecrdIk {
  background-color: transparent;
  cursor: pointer;
  height: 63.64%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9.09%;
  width: 9.91%;
}

.community-photo-dog-cafe-posted .home-ecrdIk {
  background-color: transparent;
  height: 54.55%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 45.45%;
  width: 10.22%;
}

.community-photo-dog-cafe-posted .groups_black_24dp-1-ecrdIk {
  background-color: transparent;
  height: 72.73%;
  left: 20.74%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 11.15%;
}

.community-photo-dog-cafe-posted .community-ecrdIk {
  background-color: transparent;
  height: 54.55%;
  left: 17.03%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 40.91%;
  width: 19.81%;
}

.community-photo-dog-cafe-posted .rectangle-38-ecrdIk {
  background-color: var(--viking);
  height: 93.18%;
  left: 38.08%;
  mix-blend-mode: normal;
  position: absolute;
  top: -2.27%;
  width: 22.60%;
}

.community-photo-dog-cafe-posted .x6366325_animal_breed-ecrdIk {
  background-color: transparent;
  height: 47.73%;
  left: 39.01%;
  mix-blend-mode: normal;
  position: absolute;
  top: 9.09%;
  width: 9.91%;
}

.community-photo-dog-cafe-posted .x6366340_animal_breed-ecrdIk {
  background-color: transparent;
  height: 63.64%;
  left: 49.54%;
  mix-blend-mode: normal;
  position: absolute;
  top: 9.09%;
  width: 10.22%;
}

.community-photo-dog-cafe-posted .rectangle-39-ecrdIk {
  background-color: var(--viking);
  height: 93.18%;
  left: 60.37%;
  mix-blend-mode: normal;
  position: absolute;
  top: -2.27%;
  width: 22.91%;
}

.community-photo-dog-cafe-posted .question_answer_black_24dp-1-ecrdIk {
  background-color: transparent;
  height: 54.55%;
  left: 66.56%;
  mix-blend-mode: normal;
  position: absolute;
  top: 13.64%;
  width: 10.53%;
}

.community-photo-dog-cafe-posted .chat-ecrdIk {
  background-color: transparent;
  height: 54.55%;
  left: 67.80%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 45.45%;
  width: 7.74%;
}

.community-photo-dog-cafe-posted .icon-user-ecrdIk {
  background-color: transparent;
  height: 54.55%;
  left: 88.54%;
  mix-blend-mode: normal;
  position: absolute;
  top: 9.09%;
  width: 11.46%;
}

.community-photo-dog-cafe-posted .profile-ecrdIk {
  background-color: transparent;
  height: 54.55%;
  left: 88.54%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 45.45%;
  width: 11.46%;
}

.community-photo-dog-cafe-posted .x-ecrdIk {
  background-color: transparent;
  height: 84.09%;
  left: 47.68%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 2.48%;
}

.community-photo-dog-cafe-posted .matching-ecrdIk {
  background-color: transparent;
  height: 50.00%;
  left: 41.80%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 47.73%;
  width: 15.17%;
}