/* screen - community-q-a */

.community-q-a {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 640px;
  min-width: 360px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.community-q-a .rectangle-40-C61RwL {
  background-color: var(--white);
  height: 206px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 59px;
  width: 362px;
}

.community-q-a .question_mark_black_24dp-1-C61RwL {
  background-color: transparent;
  height: 156px;
  left: 77px;
  mix-blend-mode: normal;
  position: absolute;
  top: 73px;
  width: 200px;
}

.community-q-a .q-a-C61RwL {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 73px;
  width: auto;
}

.community-q-a .rectangle-41-C61RwL {
  background-color: var(--white);
  cursor: pointer;
  height: 29px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 236px;
  width: 362px;
}

.community-q-a .create-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 150px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 237px;
  width: auto;
}

.community-q-a .component-25-C61RwL {
  background-color: transparent;
  height: 769px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 264px;
  width: 360px;
}

.community-q-a .component-21-ZsLd5b {
  background-color: transparent;
  height: 99.87%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-q-a .rectangle-114-xywY8x {
  background-color: var(--white);
  height: 99.55%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0.45%;
  width: 100%;
}

.community-q-a .component-22-xywY8x {
  background-color: transparent;
  height: 12.87%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 77.30%;
  width: 100%;
}

.community-q-a .rectangle-115-xeNG32 {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-q-a .rectangle-116-xeNG32 {
  background-color: var(--white);
  height: 23.70%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.61%;
  width: 100.56%;
}

.community-q-a .chat_bubble_outline_black_24dp-2-xeNG32 {
  background-color: transparent;
  height: 17.19%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.91%;
  width: 6.67%;
}

.community-q-a .favorite_border_black_24dp-2-xeNG32 {
  background-color: transparent;
  height: 17.19%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.91%;
  width: 6.67%;
}

.community-q-a .component-21-xywY8x {
  background-color: transparent;
  height: 13.91%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 63.39%;
  width: 100%;
}

.community-q-a .rectangle-115-eLeOFQ {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-q-a .rectangle-116-eLeOFQ {
  background-color: var(--white);
  height: 23.55%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.69%;
  width: 100.56%;
}

.community-q-a .chat_bubble_outline_black_24dp-2-eLeOFQ {
  background-color: transparent;
  height: 17.31%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.86%;
  width: 6.67%;
}

.community-q-a .favorite_border_black_24dp-2-eLeOFQ {
  background-color: transparent;
  height: 17.31%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.86%;
  width: 6.67%;
}

.community-q-a .central-park-is-a-re-eLeOFQ {
  background-color: transparent;
  height: 41.16%;
  left: 11.67%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29.37%;
  width: 79.72%;
}

.community-q-a .q-a-xywY8x {
  background-color: transparent;
  height: 2.28%;
  left: 3.33%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 22.22%;
}

.community-q-a .component-19-xywY8x {
  background-color: transparent;
  height: 15.72%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 47.67%;
  width: 100%;
}

.community-q-a .rectangle-115-aG375j {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-q-a .rectangle-116-aG375j {
  background-color: var(--white);
  height: 23.33%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.79%;
  width: 100.56%;
}

.community-q-a .chat_bubble_outline_black_24dp-2-aG375j {
  background-color: transparent;
  height: 17.39%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.82%;
  width: 6.67%;
}

.community-q-a .favorite_border_black_24dp-2-aG375j {
  background-color: transparent;
  height: 17.39%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 80.82%;
  width: 6.67%;
}

.community-q-a .central-park-is-a-re-aG375j {
  background-color: transparent;
  height: 19.87%;
  left: 11.67%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29.37%;
  width: 0px;
}

.community-q-a .dog-cafe-xywY8x {
  background-color: transparent;
  height: 2.28%;
  left: 3.33%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 22.22%;
}

.community-q-a .component-18-xywY8x {
  background-color: transparent;
  height: 15.72%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 31.95%;
  width: 100%;
}

.community-q-a .rectangle-115-M6fVA8 {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-q-a .rectangle-116-M6fVA8 {
  background-color: var(--white);
  height: 23.33%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 76.79%;
  width: 100.56%;
}

.community-q-a .chat_bubble_outline_black_24dp-2-M6fVA8 {
  background-color: transparent;
  height: 16.97%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 81.02%;
  width: 6.67%;
}

.community-q-a .favorite_border_black_24dp-2-M6fVA8 {
  background-color: transparent;
  height: 16.97%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 81.02%;
  width: 6.67%;
}

.community-q-a .central-park-is-a-re-M6fVA8 {
  background-color: transparent;
  height: 19.87%;
  left: 11.67%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29.37%;
  width: 0px;
}

.community-q-a .component-17-xywY8x {
  background-color: transparent;
  height: 15.93%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16.03%;
  width: 100%;
}

.community-q-a .rectangle-33-MSwYTi {
  background-color: var(--white);
  height: 101.63%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: -0.82%;
  width: 100.56%;
}

.community-q-a .rectangle-34-MSwYTi {
  background-color: var(--white);
  height: 21.38%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 79.44%;
  width: 100.56%;
}

.community-q-a .chat_bubble_outline_black_24dp-2-MSwYTi {
  background-color: transparent;
  height: 15.53%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 82.68%;
  width: 6.67%;
}

.community-q-a .favorite_border_black_24dp-2-MSwYTi {
  background-color: transparent;
  height: 15.53%;
  left: 83.06%;
  mix-blend-mode: normal;
  position: absolute;
  top: 82.68%;
  width: 6.67%;
}

.community-q-a .component-10-xywY8x {
  background-color: transparent;
  height: 16.03%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-q-a .rectangle-30-2eY9RG {
  background-color: var(--white);
  height: 101.62%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: -0.81%;
  width: 100.56%;
}

.community-q-a .rectangle-32-2eY9RG {
  background-color: var(--white);
  height: 21.37%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 79.44%;
  width: 100.56%;
}

.community-q-a .chat_bubble_outline_black_24dp-1-2eY9RG {
  background-color: transparent;
  cursor: pointer;
  height: 15.83%;
  left: 91.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 82.53%;
  width: 6.67%;
}

.community-q-a .favorite_border_black_24dp-1-2eY9RG {
  background-color: transparent;
  cursor: pointer;
  height: 15.83%;
  left: 82.50%;
  mix-blend-mode: normal;
  position: absolute;
  top: 82.53%;
  width: 6.67%;
}

.community-q-a .what-snack-does-your-xywY8x {
  background-color: transparent;
  height: 4.55%;
  left: 15.28%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52.33%;
  width: 74.72%;
}

.community-q-a .component-20-xywY8x {
  background-color: transparent;
  height: 2.28%;
  left: 2.50%;
  mix-blend-mode: normal;
  position: absolute;
  top: 48.40%;
  width: 25.56%;
}

.community-q-a .rectangle-31-e7Ipvj {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-q-a .hospital-e7Ipvj {
  background-color: transparent;
  height: 125.84%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-q-a .component-7-xywY8x {
  background-color: transparent;
  height: 2.30%;
  left: 2.50%;
  mix-blend-mode: normal;
  position: absolute;
  top: 64.12%;
  width: 25.56%;
}

.community-q-a .component-1-OfRE1i {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-q-a .rectangle-31-kb0jnj {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-q-a .hospital-kb0jnj {
  background-color: transparent;
  height: 124.41%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-q-a .im-trying-to-neuter-ZsLd5b {
  background-color: transparent;
  height: 2.86%;
  left: 16.11%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 38.47%;
  width: 65.00%;
}

.community-q-a .my-dog-is-losing-so-ZsLd5b {
  background-color: transparent;
  height: 2.86%;
  left: 12.78%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 22.48%;
  width: 71.39%;
}

.community-q-a .component-7-ZsLd5b {
  background-color: transparent;
  height: 2.86%;
  left: 1.67%;
  mix-blend-mode: normal;
  position: absolute;
  top: 17.55%;
  width: 25.56%;
}

.community-q-a .component-1-SOCOrM {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-q-a .rectangle-31-1L0GQT {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-q-a .hospital-1L0GQT {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-q-a .component-8-ZsLd5b {
  background-color: transparent;
  height: 2.86%;
  left: 1.67%;
  mix-blend-mode: normal;
  position: absolute;
  top: 33.14%;
  width: 25.56%;
}

.community-q-a .component-1-o0Bev9 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-q-a .rectangle-31-Ejovpn {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-q-a .hospital-Ejovpn {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-q-a .component-19-ZsLd5b {
  background-color: transparent;
  height: 16.51%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.community-q-a .rectangle-40-2tLRe8 {
  background-color: var(--white);
  height: 100.94%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: -0.79%;
  width: 100.56%;
}

.community-q-a .rectangle-40-vwyrJc {
  background-color: var(--white);
  height: 21.20%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 79.59%;
  width: 100.56%;
}

.community-q-a .favorite_border_black_24dp-3-2tLRe8 {
  background-color: transparent;
  height: 15.75%;
  left: 83.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 82.63%;
  width: 6.67%;
}

.community-q-a .chat_bubble_outline_black_24dp-3-2tLRe8 {
  background-color: transparent;
  height: 15.75%;
  left: 91.67%;
  mix-blend-mode: normal;
  position: absolute;
  top: 82.63%;
  width: 6.67%;
}

.community-q-a .should-i-leave-the-l-2tLRe8 {
  background-color: transparent;
  height: 13.92%;
  left: 13.61%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 37.80%;
  width: 73.33%;
}

.community-q-a .component-1-2tLRe8 {
  background-color: transparent;
  height: 17.32%;
  left: 0.83%;
  mix-blend-mode: normal;
  position: absolute;
  top: 5.51%;
  width: 25.56%;
}

.community-q-a .rectangle-31-fAiWVY {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-q-a .hospital-fAiWVY {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-q-a .component-1-ZsLd5b {
  background-color: transparent;
  height: 2.86%;
  left: 1.39%;
  mix-blend-mode: normal;
  position: absolute;
  top: 1.04%;
  width: 25.56%;
}

.community-q-a .component-1-dUPfAU {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-q-a .rectangle-31-jd3zST {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-q-a .hospital-jd3zST {
  background-color: transparent;
  height: 100%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-q-a .component-7-LhdHHh {
  background-color: transparent;
  height: 2.30%;
  left: 1.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 78.24%;
  width: 25.56%;
}

.community-q-a .component-1-Chfdix {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}

.community-q-a .rectangle-31-lUB1k6 {
  background-color: var(--mercury);
  border-radius: 20px;
  height: 86.36%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4.55%;
  width: 84.78%;
}

.community-q-a .hospital-lUB1k6 {
  background-color: transparent;
  height: 124.41%;
  left: 13.04%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 86.96%;
}

.community-q-a .im-adopting-a-dog-to-ZsLd5b {
  background-color: transparent;
  height: 2.86%;
  left: 6.11%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 81.75%;
  width: 87.78%;
}

.community-q-a .rectangle-21-C61RwL {
  background-color: var(--viking);
  height: 62px;
  left: 0px;
  mix-blend-mode: normal;
  position: fixed;
  top: 0px;
  width: 360px;
}

.community-q-a .arrow_back_black_24dp-1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 6px;
  mix-blend-mode: normal;
  position: fixed;
  top: 19px;
  width: 46px;
}

.community-q-a .component-20-C61RwL {
  background-color: transparent;
  bottom: -5px;
  height: 44px;
  left: 0px;
  mix-blend-mode: normal;
  position: fixed;
  width: 360px;
}

.community-q-a .component-5-uWnxTg {
  background-color: transparent;
  height: 88.64%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.community-q-a .rectangle-35-NxZUiA {
  background-color: var(--viking);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 360px;
}

.community-q-a .rectangle-37-NxZUiA {
  background-color: var(--viking);
  height: 105.13%;
  left: 18.89%;
  mix-blend-mode: normal;
  position: absolute;
  top: -2.56%;
  width: 21.39%;
}

.community-q-a .rectangle-36-NxZUiA {
  background-color: var(--viking);
  height: 105.13%;
  left: -0.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: -2.56%;
  width: 19.72%;
}

.community-q-a .component-4-uWnxTg {
  background-color: transparent;
  height: 100%;
  left: 5.28%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 89.72%;
}

.community-q-a .home_black_24dp-1-ecrdIk {
  background-color: transparent;
  cursor: pointer;
  height: 63.64%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9.09%;
  width: 9.91%;
}

.community-q-a .home-ecrdIk {
  background-color: transparent;
  height: 54.55%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 45.45%;
  width: 10.22%;
}

.community-q-a .groups_black_24dp-1-ecrdIk {
  background-color: transparent;
  height: 72.73%;
  left: 20.74%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 11.15%;
}

.community-q-a .community-ecrdIk {
  background-color: transparent;
  height: 54.55%;
  left: 17.03%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 40.91%;
  width: 19.81%;
}

.community-q-a .rectangle-38-ecrdIk {
  background-color: var(--viking);
  height: 93.18%;
  left: 38.08%;
  mix-blend-mode: normal;
  position: absolute;
  top: -2.27%;
  width: 22.60%;
}

.community-q-a .x6366325_animal_breed-ecrdIk {
  background-color: transparent;
  height: 47.73%;
  left: 39.01%;
  mix-blend-mode: normal;
  position: absolute;
  top: 9.09%;
  width: 9.91%;
}

.community-q-a .x6366340_animal_breed-ecrdIk {
  background-color: transparent;
  height: 63.64%;
  left: 49.54%;
  mix-blend-mode: normal;
  position: absolute;
  top: 9.09%;
  width: 10.22%;
}

.community-q-a .rectangle-39-ecrdIk {
  background-color: var(--viking);
  height: 93.18%;
  left: 60.37%;
  mix-blend-mode: normal;
  position: absolute;
  top: -2.27%;
  width: 22.91%;
}

.community-q-a .question_answer_black_24dp-1-ecrdIk {
  background-color: transparent;
  height: 54.55%;
  left: 66.56%;
  mix-blend-mode: normal;
  position: absolute;
  top: 13.64%;
  width: 10.53%;
}

.community-q-a .chat-ecrdIk {
  background-color: transparent;
  height: 54.55%;
  left: 67.80%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 45.45%;
  width: 7.74%;
}

.community-q-a .person_black_24dp-1-ecrdIk {
  background-color: transparent;
  height: 54.55%;
  left: 88.54%;
  mix-blend-mode: normal;
  position: absolute;
  top: 9.09%;
  width: 11.46%;
}

.community-q-a .profile-ecrdIk {
  background-color: transparent;
  height: 54.55%;
  left: 88.54%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 45.45%;
  width: 11.46%;
}

.community-q-a .x-ecrdIk {
  background-color: transparent;
  height: 84.09%;
  left: 47.68%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 2.48%;
}

.community-q-a .matching-ecrdIk {
  background-color: transparent;
  height: 50.00%;
  left: 41.80%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 47.73%;
  width: 15.17%;
}