/* screen - matching-firstpage */

.matching-firstpage {
  align-items: center;
  background-color: var(--viking);
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 360px;
}

.matching-firstpage .overlap-group4 {
  height: 24px;
  margin-top: -1px;
  position: relative;
  width: 360px;
}

.matching-firstpage .rectangle-20 {
  background-color: #44b2f2;
  height: 23px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 360px;
}

.matching-firstpage .signal_cellular_alt_ {
  height: 23px;
  left: 12px;
  position: absolute;
  top: 1px;
  width: 27px;
}

.matching-firstpage .battery_charging_ful {
  height: 23px;
  left: 324px;
  position: absolute;
  top: 0;
  width: 29px;
}

.matching-firstpage .percent {
  -webkit-text-stroke: 0.1px var(--black);
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 10px;
  font-weight: 400;
  left: 298px;
  letter-spacing: 0;
  position: absolute;
  top: 5px;
}

.matching-firstpage .x1017-pm {
  -webkit-text-stroke: 0.1px var(--black);
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 11px;
  font-weight: 400;
  left: 153px;
  letter-spacing: 0;
  position: absolute;
  top: 5px;
}

.matching-firstpage .overlap-group2 {
  height: 293px;
  margin-top: 7px;
  position: relative;
  width: 310px;
}

.matching-firstpage .rectangle-16 {
  height: 273px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 299px;
}

.matching-firstpage .hip-dog {
  -webkit-text-stroke: 1px var(--viking);
  color: var(--turbo);
  font-family: var(--font-family-baloo-regular);
  font-size: 90px;
  font-weight: 400;
  left: 45px;
  letter-spacing: 0;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 30px;
  width: 253px;
}

.matching-firstpage .pets_black_24dp-1 {
  height: 85px;
  left: 238px;
  position: absolute;
  top: 87px;
  width: 99px;
}

.matching-firstpage .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid #00000040;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 57px;
  margin-right: 10.0px;
  margin-top: 16px;
  min-width: 274px;
  padding: 4px 75px;
}

.matching-firstpage .place {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 35px;
  width: 123px;
}

.matching-firstpage .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 57px;
  margin-right: 10.0px;
  margin-top: 22px;
  min-width: 274px;
  padding: 5px 60px;
}

.matching-firstpage .community {
  letter-spacing: 0;
  min-height: 43px;
}

.matching-firstpage .overlap-group3 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 57px;
  margin-right: 10.0px;
  margin-top: 22px;
  min-width: 274px;
  padding: 5px 104px;
}

.matching-firstpage .chat {
  letter-spacing: 0;
  min-height: 43px;
}
