/* screen - myrc */

.myrc {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 640px;
  overflow: hidden;
  width: 360px;
}

.myrc .overlap-group6 {
  height: 352px;
  margin-left: -1px;
  position: relative;
  width: 362px;
}

.myrc .rectangle-61 {
  background-color: var(--alabaster);
  height: 160px;
  left: 0;
  position: absolute;
  top: 192px;
  width: 362px;
}

.myrc .rectangle-30 {
  background-color: var(--alabaster);
  height: 133px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 362px;
}

.myrc .rectangle-21 {
  background-color: var(--viking);
  height: 62px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 360px;
}

.myrc .arrow_back_black_24dp-1 {
  height: 24px;
  left: 1px;
  position: absolute;
  top: 19px;
  width: 46px;
}

.myrc .hip-dog {
  -webkit-text-stroke: 1px var(--viking);
  color: var(--turbo);
  font-family: var(--font-family-baloo-regular);
  font-size: 25px;
  font-weight: 400;
  left: 137px;
  letter-spacing: 0;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 16px;
  width: 86px;
}

.myrc .pets_black_24dp-2 {
  height: 36px;
  left: 164px;
  position: absolute;
  top: 104px;
  width: 36px;
}

.myrc .pets_black_24dp-3 {
  height: 25px;
  left: 21px;
  position: absolute;
  top: 249px;
  width: 25px;
}

.myrc .pets_black_24dp-4 {
  height: 25px;
  left: 49px;
  position: absolute;
  top: 249px;
  width: 25px;
}

.myrc .pets_black_24dp-3-1 {
  height: 25px;
  left: 77px;
  position: absolute;
  top: 249px;
  width: 25px;
}

.myrc .pets_black_24dp-3-2 {
  height: 25px;
  left: 105px;
  position: absolute;
  top: 249px;
  width: 25px;
}

.myrc .pets_black_24dp-3-3 {
  height: 25px;
  left: 133px;
  position: absolute;
  top: 249px;
  width: 25px;
}

.myrc .khun {
  left: 73px;
  letter-spacing: 0;
  position: absolute;
  top: 170px;
  width: 51px;
}

.myrc .name {
  left: 260px;
  letter-spacing: 0;
  position: absolute;
  top: 170px;
  width: 38px;
}

.myrc .text-2 {
  color: var(--black);
  font-family: var(--font-family-baloo-regular);
  font-size: 30px;
  font-weight: 400;
  left: 68px;
  letter-spacing: 0;
  position: absolute;
  top: 212px;
  width: 46px;
}

.myrc .report-status {
    left: 6px;
    letter-spacing: 0;
    position: absolute;
    top: 328px;
    width: 108px;
}

.myrc .number {
  color: var(--black);
  font-family: var(--font-family-baloo-regular);
  font-size: 30px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  position: absolute;
  top: 295px;
  width: 20px;
}

.myrc .number-1 {
  left: 185px;
  letter-spacing: 0;
  position: absolute;
  top: 214px;
  width: 10px;
}

.myrc .number-2 {
  left: 330px;
  letter-spacing: 0;
  position: absolute;
  top: 214px;
  width: 27px;
}

.myrc .icon-caution {
  height: 40px;
  left: 9px;
  position: absolute;
  top: 289px;
  width: 40px;
}

.myrc .rectangle-67 {
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 32px;
  left: 81px;
  position: absolute;
  top: 292px;
  width: 91px;
}

.myrc .report {
  left: 95px;
  letter-spacing: 0;
  position: absolute;
  top: 297px;
  width: 76px;
}

.myrc .rectangle-68 {
  background-color: var(--ebb);
  border-radius: 25px;
  height: 7px;
  left: 200px;
  position: absolute;
  top: 220px;
  width: 125px;
}

.myrc .rectangle-69 {
  background-color: #fff400;
  border-radius: 25px;
  height: 7px;
  left: 200px;
  position: absolute;
  top: 220px;
  width: 96px;
}

.myrc .number-3 {
  left: 185px;
  letter-spacing: 0;
  position: absolute;
  top: 235px;
  width: 10px;
}

.myrc .number-4 {
  left: 331px;
  letter-spacing: 0;
  position: absolute;
  top: 235px;
  width: 27px;
}

.myrc .rectangle-70 {
  background-color: var(--ebb);
  border-radius: 25px;
  height: 7px;
  left: 201px;
  position: absolute;
  top: 241px;
  width: 125px;
}

.myrc .number-5 {
  left: 186px;
  letter-spacing: 0;
  position: absolute;
  top: 256px;
  width: 10px;
}

.myrc .number-6 {
  left: 331px;
  letter-spacing: 0;
  position: absolute;
  top: 256px;
  width: 27px;
}

.myrc .rectangle-72 {
  background-color: var(--ebb);
  border-radius: 25px;
  height: 7px;
  left: 201px;
  position: absolute;
  top: 262px;
  width: 125px;
}

.myrc .number-7 {
  left: 186px;
  letter-spacing: 0;
  position: absolute;
  top: 277px;
  width: 10px;
}

.myrc .number-8 {
  left: 331px;
  letter-spacing: 0;
  position: absolute;
  top: 277px;
  width: 27px;
}

.myrc .rectangle-74 {
  background-color: var(--ebb);
  border-radius: 25px;
  height: 7px;
  left: 201px;
  position: absolute;
  top: 283px;
  width: 125px;
}

.myrc .number-9 {
  left: 186px;
  letter-spacing: 0;
  position: absolute;
  top: 298px;
  width: 10px;
}

.myrc .number-10 {
  left: 331px;
  letter-spacing: 0;
  position: absolute;
  top: 298px;
  width: 27px;
}

.myrc .rectangle-76 {
  background-color: var(--ebb);
  border-radius: 25px;
  height: 7px;
  left: 201px;
  position: absolute;
  top: 304px;
  width: 125px;
}

.myrc .ellipse-26 {
  height: 100px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 72px;
  width: 100px;
}

.myrc .ellipse-26-1 {
  height: 100px;
  left: 223px;
  object-fit: cover;
  position: absolute;
  top: 72px;
  width: 100px;
}

.myrc .overlap-group8 {
  height: 25px;
  margin-left: 3px;
  margin-top: 8px;
  position: relative;
  width: 90px;
}

.myrc .rectangle-30-1 {
  background-color: var(--turbo);
  border-radius: 20px;
  height: 24px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 90px;
}

.myrc .comments {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 5px;
}

.myrc .overlap-group7 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--alabaster);
  border-radius: 20px;
  display: flex;
  height: 202px;
  justify-content: flex-end;
  margin-left: 1.0px;
  margin-top: 7px;
  min-width: 335px;
  padding: 1px 9px;
}

.myrc .ellipse-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  min-height: 113px;
  width: 33px;
}

.myrc .ellipse-21 {
  height: 33px;
  object-fit: cover;
  width: 33px;
}

.myrc .ellipse-23 {
  height: 33px;
  margin-top: 47px;
  object-fit: cover;
  width: 33px;
}

.myrc .flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  min-height: 188px;
  width: 253px;
}

.myrc .pets_black_dp-container {
  align-items: flex-start;
  display: flex;
  margin-left: 6px;
  min-width: 98px;
}

.myrc .pets_black_24dp-5 {
  height: 18px;
  width: 18px;
}

.myrc .pets_black_24dp {
  height: 18px;
  margin-left: 2px;
  width: 18px;
}

.myrc .overlap-group10 {
  align-items: flex-start;
  background-color: #dedede;
  border-radius: 20px;
  display: flex;
  height: 32px;
  margin-top: 8px;
  min-width: 222px;
  padding: 2px 13px;
}

.myrc .very-handsome-and-gentle {
  letter-spacing: 0;
  min-height: 23px;
  width: 194px;
  line-height: 26px;
}

.myrc .pets_black_dp-container-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 6px;
  margin-top: 22px;
  min-width: 98px;
}

.myrc .pets_black_24dp-10 {
  height: 19px;
  width: 18px;
}

.myrc .pets_black_24dp-1 {
  height: 19px;
  margin-left: 2px;
  width: 18px;
}

.myrc .flex-row {
  align-items: flex-start;
  display: flex;
  height: 81px;
  margin-top: 8px;
  min-width: 253px;
}

.myrc .overlap-group9 {
  height: 80px;
  position: relative;
  width: 204px;
}

.myrc .rectangle-78 {
  background-color: #dedede;
  border-radius: 20px;
  height: 59px;
  left: 0;
  position: absolute;
  top: 0;
  width: 204px;
}

.myrc .he-is-also-kind-to-d {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
  width: 178px;
  line-height: 21px;
}

.myrc .component-15 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 22.5px;
  display: flex;
  height: 45px;
  margin-left: 4px;
  min-width: 45px;
  padding: 5px;
}

.myrc .edit_fill0_wght400_grad0_opsz48-1 {
  height: 33px;
  width: 33px;
}

.myrc .overlap-group11 {
  align-items: flex-start;
  align-self: center;
  background-color: #ebe7e7;
  border-radius: 15px;
  display: flex;
  height: 173px;
  margin-bottom: 1.0px;
  margin-left: 2px;
  min-width: 16px;
  padding: 4px 3px;
}

.myrc .rectangle-80 {
  background-color: #c4c4c4;
  border-radius: 15px;
  height: 50px;
  width: 10px;
}

.myrc .component-container {
  height: 44px;
  margin-top: 7px;
  position: relative;
  width: 360px;
}

.myrc .component-5 {
  align-items: flex-start;
  background-color: var(--viking);
  display: flex;
  height: 39px;
  left: 0;
  min-width: 360px;
  position: absolute;
  top: 0;
}

.myrc .overlap-group {
  height: 41px;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
  width: 146px;
}

.myrc .rectangle-37 {
  background-color: var(--viking);
  height: 41px;
  left: 69px;
  position: absolute;
  top: 0;
  width: 77px;
}

.myrc .rectangle-36 {
  background-color: var(--viking);
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 71px;
}

.myrc .component-4 {
  align-items: flex-start;
  display: flex;
  height: 44px;
  left: 20px;
  min-width: 323px;
  position: absolute;
  top: 0;
}

.myrc .overlap-group3 {
  align-self: flex-end;
  height: 39px;
  margin-bottom: 1px;
  position: relative;
  width: 33px;
}

.myrc .icon-home {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.myrc .place {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 22px;
}

.myrc .overlap-group4 {
  height: 41px;
  margin-left: 22px;
  position: relative;
  width: 64px;
}

.myrc .groups_black_24dp-1 {
  height: 32px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 36px;
}

.myrc .community {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 25px;
}

.myrc .overlap-group2 {
  height: 44px;
  margin-left: 4px;
  margin-top: -1px;
  position: relative;
  width: 146px;
}

.myrc .rectangle-38 {
  background-color: var(--viking);
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 73px;
}

.myrc .x6366325_animal_breed {
  height: 21px;
  left: 3px;
  position: absolute;
  top: 5px;
  width: 32px;
}

.myrc .x6366340_animal_breed {
  height: 28px;
  left: 37px;
  position: absolute;
  top: 5px;
  width: 33px;
}

.myrc .rectangle-39 {
  background-color: var(--viking);
  height: 41px;
  left: 72px;
  position: absolute;
  top: 0;
  width: 74px;
}

.myrc .question_answer_black_24dp-1 {
  height: 24px;
  left: 92px;
  position: absolute;
  top: 7px;
  width: 34px;
}

.myrc .chat {
  left: 96px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
}

.myrc .text-1 {
  color: var(--black);
  font-family: var(--font-family-cairo);
  font-size: 20px;
  font-weight: 300;
  left: 31px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.myrc .place-1 {
  color: var(--black);
  font-family: var(--font-family-cairo);
  font-size: 12px;
  font-weight: 700;
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  top: 27px;
}

.myrc .overlap-group1 {
  align-self: flex-end;
  height: 39px;
  margin-bottom: 1px;
  margin-left: 17px;
  position: relative;
  width: 37px;
}

.myrc .icon-user {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 37px;
}

.myrc .profile {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 21px;
}
